<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>Internal Snapshots</id>
            <username>admin</username>
            <password>admin@123456</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>handge-maven-internal</id>
            <mirrorOf>*</mirrorOf>
            <url>http://172.18.20.100:9999/com.hr.repository/internal</url>
        </mirror>
        <mirror>
            <id>handge-maven-snapshots</id>
            <mirrorOf>*</mirrorOf>
            <url>http://172.18.20.100:9999/com.hr.repository/snapshots</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>Internal-Profile</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Internal-Repository</name>
                    <url>http://172.18.20.100:9999/com.hr.repository/internal</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central2</id>
                    <name>Snapshots-Repository</name>
                    <url>http://172.18.20.100:9999/com.hr.repository/snapshots</url>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>handge-plugin-internal</id>
                    <name>internal-plugin</name>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <layout>default</layout>
                    <url>http://172.18.20.100:9999/com.hr.repository/internal</url>
                </pluginRepository>
                <pluginRepository>
                    <id>handge-plugin-snapshots</id>
                    <name>snapshots-plugin</name>
                    <releases>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <updatePolicy>always</updatePolicy>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <layout>default</layout>
                    <url>http://172.18.20.100:9999/com.hr.repository/snapshots</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
